.app__menuitem {
  width: 100%;
  margin: 1rem 0;
  /*define um elemento criando espaço ao redor dele ==> valor 1rem = margem superior e inferior ==> 0 = margin esquerda e direita*/

  display: flex;
  flex-direction: column;
}

.app__menuitem-head {
  display: flex;
  justify-content: space-between;
  /*para alinhar um item ao começo e um ao fim*/
  align-items: center;
  /*para alinhar itens ao centro da tela*/
}

.app__menuitem-sub {
  width: 100%;
  margin-top: 0.2rem;
  /*define uma margem superior 2x do tamanho da fonte do elemento. => se o elemento for 16px entao a margem superior é 0.2*16px = 3.2px*/
}

.app__menuitem-name {
  flex: 1;
}

.app__menuitem-dash {

  /*define o tipo de posicionamento do elelmento = static é o valor padrao para o position que significa que o elemento vai ser posicionado de acordo com o fluxo normal do documento*/
  width: 90px;
  /*tam do elemento*/
  height: 1px;
  /*define a altura do elemento*/
  background: #fafafa;
  margin: 0px 1rem;
}

.app__menuitem-price {
  display: flex;
  justify-content: flex-end;
  /* alinhará os itens dentro do contêiner*/
  align-items: flex-end;
}