.app__menuitem {
  width: 100%;
  margin: 1rem 0;
  /*define um elemento criando espaço ao redor dele ==> valor 1rem = margem superior e inferior ==> 0 = margin esquerda e direita*/

  display: flex;
  flex-direction: column;
}

.app__menuitem-head {
  display: flex;
  justify-content: space-between;
  /*para alinhar um item ao começo e um ao fim*/
  align-items: center;
  /*para alinhar itens ao centro da tela*/
}

.app__menuitem-sub {
  width: 100%;
  margin-top: 0.2rem;
  /*define uma margem superior 2x do tamanho da fonte do elemento. => se o elemento for 16px entao a margem superior é 0.2*16px = 3.2px*/
}

.app__menuitem-name {
  flex: 1;
}

.app__menuitem-dash {

  /*define o tipo de posicionamento do elelmento = static é o valor padrao para o position que significa que o elemento vai ser posicionado de acordo com o fluxo normal do documento*/
  width: 90px;
  /*tam do elemento*/
  height: 1px;
  /*define a altura do elemento*/
  left: 224px;
  /* elemento será posicionado 224 pixels à direita do lado esquerdo do seu elemento pai.*/
  top: 14.5px;
  /*o elemento será posicionado 14.5 pixels abaixo do topo do seu elemento pai.*/

  background: #fafafa;
  flex: none;
  /*flex none e aplicado dentro do item com containe rflexivel para o item nao se ajustar automaticamente para preencher o espaço restante do container, isso significa que o item pode manter seu tamanho ORIGINAL mesmo se houver espaço extra disponivel*/
  order: 1;
  /*aplicado dentro de um item com container flexivel ele define que esse item deve ser exibido  após os itens com "order" menores.*/
  flex-grow: 0;
  margin: 0px 32px;


}