.app__gallery {
  display: flex;
  flex-direction: row;
  /*flex-direction demonstra a direção usada para definir o eixo em um container flexivel -> quando definido em row (linha em ingles) significa que o eixo principal e executado horizontalmente*/
  background: var(--color-black);
  padding: 4rem 0 4rem 6rem;
}

.app__gallery-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /*! para alinhar os itens ao inicio no eixo transversal*/
  flex-direction: column;
  /*! usado para definir a direção do fluxo principal do elemento*/

  min-width: 500px;
  padding-right: 2rem;
  /*! usado para definir o espaçamento interno => 1rem = 16px 2rem = 32px */
}

.app__gallery-content button {
  margin-top: 1rem;
  /*distancia de margin do topo*/
}

.app__gallery-images {
  flex: 1;
  display: flex;
  flex-direction: row;
  /*! os elementos sao organizados em uma linha horizontal -> começando da esquerda para direita*/
  max-width: 50%;
  /*usado para definir a largura maxima de um elemtno -> nesse caso o elemtno podera ter uma largura menor q 50% mas nunca menor q esse valor, e util para controlar a largura maxima de um elemtno, evitando que se torne muito grande em dispositivos em telas maiores*/
  position: relative;
  /*! usado para posicionar o elemento em relacao a sua posicao original na pagina, quando o elemento e definido como relative pode ser movido com top, bottom, left, right*/
}

.app__gallery-images_container {
  display: flex;
  flex-direction: row;
  width: max-content;
  /*usada para largura de um elemento baseado n o conteúdo maximo -> o mesmo tera 
  largura necessária para acomodar todo seu conteúdo (incluindo margens, bordas e preenchimento) */
  overflow-x: scroll;
  /*para scrollar em eixo x*/
  -ms-overflow-style: none;
  /*usada para remover  abarra de rolagem padrao do elemento do browser*/
  scrollbar-width: none;
  /*usado para definir largura das barras de rolagem, no caso o none retira esse
  comportamento*/

}


.app__gallery-images_container::-webkit-scrollbar {
  display: none;
}

.app__gallery-images_card {
  position: relative;
  min-width: 301px;
  height: 447px;
  margin-right: 2rem;
}

.gallery__image-icon {
  position: absolute;
  color: #fff;

  font-size: 2rem;
  opacity: 0.5;
  transition: 0.5s ease;
  /*define a mudança q deve ocorrer no elemento -> .5 é a duração e a ease e a função
  que especifica a gorma como a transicao deve ocorrer, no caso sera mais lenta no inicio e no final 
  e mais rapida no meio*/
  cursor: pointer;
}

.app__gallery-images_card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /*determina que o elemento deve
  estar redimensionado para caber em um container*/
  opacity: 1;
  transition: 0.5s;
}

.app__gallery-images_card:hover img {
  opacity: 0.35;
  /*para ficar opaco*/
}

.app__gallery-images_card:hover .gallery__image-icon:hover {
  opacity: 1;
}

.app__gallery-images_arrows {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 1rem;
  position: absolute;
  bottom: 5%;
  /*define a propriedade que define a posicao vertical
  referente ao container -> */
}

.gallery__arrow-icon {
  color: var(--color-golden);
  font-size: 2rem;
  cursor: pointer;
  background: var(--color-black);
  border-radius: 5px;
}

.gallery__arrow-icon:hover {
  color: var(--color-white);
}

@media screen and (min-width: 2000px) {
  .app__gallery-content {
    min-width: 1000px;
    padding-right: 4rem;
  }

  .app__gallery-images_card {
    min-width: 400px;
    height: 550px;
  }
}


@media screen and (min-width: 1150px) {
  .app__gallery {
    flex-direction: column;
  }

  .app__gallery-images {
    max-width: 100%;
    margin: 5rem 0;
  }
}


@media screen and (min-width: 850px) {
  .app__gallery {
    padding: 4rem 0 4rem 4rem;
  }
}


@media screen and (max-width: 650px) {
  .app__gallery {
    padding: 4rem 0 4rem 4rem;
  }

  .app__gallery-content {
    min-width: 100%;
  }

  .app__gallery-images_card {
    min-width: 240px;
    height: 320px;
  }
}