.app__footer {
  width: 100%;
  position: relative;
  z-index: 1;

  display: flex;
  justify-content: flex-start;
  /*alinha os itens ao inicio do container*/
  align-items: center;
  flex-direction: column;

  background: var(--color-black);
  padding-top: 0;
}